# Ignore all files (the "code")
*

# Do not ignore the folders themselves
!*/

# Do not ignore the .gitignore file
!.gitignore

# Do not ignore .gitkeep files (to keep folders in Git)
!.gitkeep

# Do not ignore the database file
!database.sql
